.button {
    color: white;
    background-color: cyan;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease;
    padding: 5px 10px;
}

.button:hover {
    background-color: darkcyan;
}

.active a {
    color: cyan;
}